### SwiftPackageManager ###
Packages
.build/
xcuserdata
DerivedData/
*.xcodeproj


### Xcode ###
## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings
.DS_Store
.index-build

*.metallib

# Additional for VS Code and Swift projects
.vscode/
.history/

# SwiftPM
/.build/
/Packages/
/.swiftpm/xcode/package.xcworkspace

# SwiftPM test and doc artifacts
*.docc-build

/TestOutputs/

Tests/RetroDMGTests/Resources